<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>学生列表</h1>
    <a href="/add_student/">add student</a>
    <ul>
        {% for student in stu_list %}
            <Li>
                {{ student.id }} - {{ student.name }}-
                {{ student.age }} - {{ student.cls_id }}
                {{ student.cls.title }}


                <a href="/edit_student/{{ student.id }}">edit</a>
            </Li>
        {% endfor %}

    </ul>
</body>
</html>