<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_view</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "/bootstrap/css/bootstrap.css" %}">
    {% include "bootstrap_css.html" %}
    <script src="{% static '/js/jquery-1.12.4.min.js' %}"></script>

</head>
<body>

<h3>添加{{ self.model_name }}页面</h3>

{% include "form.html" %}


<script>
    function pop_response(pk,text,id) {
        var $option=$('<option>');
        $option.html(text);
        $option.val(pk);
        $option.attr("selected","selected");
        $("#"+id).append($option)
    }

</script>

</body>
</html>