<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>

</head>
<body>
<h1>index</h1>
<p>
    <button class="add" onclick="foo()">+</button>
</p>

<a href="/stark/crm/classlist/">ClassList</a>
<a href="/stark/crm/consultrecord/">ConsultRecord</a>
<a href="/stark/crm/course/">Course</a>
<a href="/stark/crm/courserecord/">CourseRecord</a>
<a href="/stark/crm/customer/">Customer</a>
<a href="/stark/crm/department/">Department</a>
<a href="/stark/crm/school/">School</a>
<a href="/stark/crm/student/">Student</a>
<a href="/stark/crm/studyrecord/">StudyRecord</a>
<a href="/stark/crm/userinfo/">UserInfo</a>



<script>
    function foo() {
        window.open("/add_book/","","width=700,height=500,top=200,left=400")
    }
</script>

</body>
</html>