<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>set</title>
</head>
<body>

<form action="/change_pwd/" method="post" novalidate autocomplete="off">
    {% csrf_token %}
    <a href="/index/">返回主页</a>
    当前用户：{{ user.username }}
    <p>
        旧密码：{{ setpwd_obj.old_password }} {{ setpwd_obj.errors.old_password.0 }}
    </p>
    <p>
        新密码：{{ setpwd_obj.new_password }} {{ setpwd_obj.errors.new_password.0 }}
    </p>
    <p>
        重复新密码：{{ setpwd_obj.repeat_password }} {{ setpwd_obj.errors.repeat_password.0 }}
    </p>

    <input type="submit" value="修改">
    <p style="color: red">
        {{ error_msg }}
    </p>


</form>


</body>
</html>