<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% include "common/css.html" %}
</head>
<body>
{% include "common/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary top-from">
                <div class="panel-heading">注册</div>
                <div class="panel-body">
                    <form action="/register/" method="post" novalidate autocomplete="off" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != "pic" %}
                                <div class="form-group">
                                <label for="{{ field.id_for_label }}"
                                       class="col-sm-3 control-label">{{ field.label }}</label>
                                <div class="col-sm-6">
                                    {{ field }}
                                    <span class="help-block"> {{ field.errors.0 }} </span>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">头像：</label>
                            <div class="col-sm-6">
                                <label for="id_pic">
                                <img class="pic" id="pic-img" src="/static/img/default.png" alt=""></label>
                                <input accept="image/*" style="display: none" type="file" name="pic" id="id_pic">
                                <span class="help-block"> {{ form.pic.errors.0 }} </span>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-default" id="reg-submit">注册</button>
                                <span class="help-block">{{ form.non_field_errors.0 }}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/jquery-3.4.1.min.js" ></script>
<script>
    {#头像绑定事件#}
    $("#id_pic").change(function () {
        {#创建一个读取文件对象#}
        var fileReader = new FileReader();
        {#取到该文件#}
        console.log(this.files[0]);
        {#读取该文件#}
        fileReader.readAsDataURL(this.files[0]);
        fileReader.onload = function(){
            {#文件读取完后加载到img标签#}
        $("#pic-img").attr("src",fileReader.result);
        };
    });

     /* AJAX提交注册的数据
    $("#reg-submit").click(function () {

        var formData = new FormData();
        formData.append("username", $("#id_username").val());
        formData.append("password", $("#id_password").val());
        formData.append("email", $("#id_email").val());
        formData.append("pic", $("#id_pic")[0].files[0]);
        formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());

        $.ajax({
            url: "/register/",
            type: "post",
            ajax传文件加参数
            processData: false,
            contentType: false,
            data: formData,
            success:function (data) {
                if (data.status){
                     有错误就展示错误
                    // console.log(data.msg);
                    // 将报错信息填写到页面上
                    $.each(data.msg, function (k,v) {
                        // console.log("id_"+k, v[0]);
                        // console.log($("#id_"+k));
                        $("#id_"+k).next("span").text(v[0]).parent().parent().addClass("has-error");
                    })

                }else {
                    location.href = data.msg;
                }
            }
        })
    });

    // 将所有的input框绑定获取焦点的事件，将所有的错误信息清空
    $("form input").focus(function () {
        $(this).next().text("").parent().parent().removeClass("has-error");
    });

    $("#id_username").blur(function () {
    $("#id_username").on("input", function () {
        var username = $(this).val();

        $.ajax({
            url: "/check_username/",
            type: "get",
            data: {"username": username},
            success: function(data){
                if (data.status){
                    $("#id_username").next().text(data.msg).parent().parent().addClass("has-error");
                }else{
                    $("#id_username").next().parent().parent().removeClass("has-error");
                }
            }
        })
    })*/

</script>
</body>
</html>