{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}的博客</title>
    {% include "common/css.html" %}
    <link rel="stylesheet" href="{% static 'up_down.css' %}">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="header">
    <p>
        <a href="/blog/{{ username }}/">{{ blog.title }}</a>
        <span class="pull-right">
            <a href="/blog/backend/add_article/">新文章</a>
            <a href="/">首页</a>
        </span>
    </p>
</div>

<div class="container">
    <div class="col-md-3">
        {% load list_tag %}

        {% left_panel username %}
    </div>
    <div class="col-md-8">
        {% block article-main %}
        
        {% endblock %}
    </div>
</div>

{% include "common/footer.html" %}

</body>
</html>